// Specific CSS for your home-page
@import "navbar";

.main-box {
  width: 50%;
}

.main-box h1 {
  margin-bottom: 30px;
  font-weight: 900;
  text-shadow: 2px 2px 5px #444444;
  color: white;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 40px;
}

.card-container {
  grid-column: span 4;
  justify-self: center;
  margin: 20px;
}

.page-title {
  padding-top: 75px;
  padding-bottom: 25px;
}
