.navbar-home{
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.6040616075531775) 100%);
  transition: 0.5s background-color ease;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2; // gets in front of everything
}

.navbar-home-scrolled {
  background-color: #1A281F;
}

.nav-font {
  color: white !important;
  text-shadow: 1px 1px 2px #444444;
  font-size: 20px;
  // letter-spacing: 2px
}

.nav-link {
  color: white !important;
}

.banner {
  background-image: url('CristoRedentor1.jpg');
  background-size: cover;
  background-attachment: unset;
  background-position: center, center top;
  padding: 100px 10px 20px 10px;
}

li.nav-item {
  padding-right: 10px;
  padding-left: 10px;
}
