.navbar-home {
  background-color:rgba(79, 138, 210, 0.98);
  background-size: cover;
  background-attachment: fixed;
  background-position: center, center top;
  height: 40px;
  padding: 30px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-font {
  color: white !important;
  text-shadow: 1px 1px 2px #444444;
}

.banner {
  background-image: url('CristoRedentor1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center, center top;
  padding: 100px 10px 320px 10px;

}
