.navbar-home{
  justify-content: space-between;
  background-color: lightgray;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2; // gets in front of everything
}

.nav-font {
  color: white !important;
  text-shadow: 1px 1px 2px #444444;
  font-size: 20px;
  // letter-spacing: 2px
}

.banner {
  background-image: url('CristoRedentor1.jpg');
  background-size: cover;
  background-attachment: unset;
  background-position: center, center top;
  padding: 100px 10px 365px 10px;

}

li.nav-item {
  padding-right: 10px;
  padding-left: 10px;
}
