.navbar-lewagon {
  justify-content: space-between;
  background-color: #1A281F;
  height: 75px;
  padding: 30px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-font {
  color: #1A281F;
  text-shadow: 1px 1px 2px #444444;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}
