.navbar-lewagon {
  justify-content: space-between;
  background-color: yellow;
  height: 40px;
  padding: 30px 10px;
}

.nav-font {
  color: black;
  text-shadow: 1px 1px 2px #444444;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 60%;
}
