<div class="d-flex justify-content-center mt-5">
  <h1>AirBnb</h1>
</div>

<div class="py-5">
  <div class="row d-flex justify-content-center">
    <% @places.each do |place| %>
      <div class="col-auto mb-3">
        <div class="card card-body" style="width: 20rem; height: 12rem;">
          <img class="card-img-top" src="..." alt="Card image">
          <div class="card-block">
            <h4 class="card-title"><%= link_to place.name, place %></h4>
            <p class="card-text p-y-1">R$<%= place.price_per_day %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
